header {
  background-color: #f1f1f0;
  height: 30vh;
}
.right {
  float: right;
}
.left {
  float: left;
}
.right * {
  text-align: right;
}
.skills ul {
  list-style: none;
  margin: auto;
}
.skills ul li {
  background-color: #a0afc9;
  display: inline-block;
  padding: .25em;
  margin: .25em;
}